.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 35px;

    .branding {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 100px;

        @media screen and (max-width: 600px) {
          width: 30px;
        }

        @media screen and (min-width: 601px) and (max-width: 768px) {
          width: 55px;
        }

        @media screen and (min-width: 769px) and (max-width: 1200px) {
          width: 65px;
        }
      }

      h1 {
        font-size: 90px;
        text-transform: uppercase;
        background: linear-gradient(to right, #3043d7, #a24a2a);
        color: transparent;
        background-clip: text;

        @media screen and (max-width: 400px) {
          font-size: 30px;
        }

        @media screen and (min-width: 401px) and (max-width: 600px) {
          font-size: 48px;
        }

        @media screen and (min-width: 601px) and (max-width: 768px) {
          font-size: 62px;
        }
        @media screen and (min-width: 769px) and (max-width: 1200px) {
          font-size: 72px;
        }
      }
    }

    .features {
      display: flex;
      gap: 14px;

      @media screen and (max-width: 1080px) {
        flex-direction: column;
      }

      .feature {
        border: 1px solid #aaa;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        flex: 1;
        min-width: 200px;

        img {
          width: 40px;
        }
      }
    }
  }

  .inputContainer {
    width: 60%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    form {
      width: 100%;
      border: 1px solid #aaa;
      border-radius: 25px;
      display: flex;
      padding: 10px 10px;
      color: #e0e0e0;
      background: #9a999922;

      input {
        width: 100%;
        background: transparent;
        color: #e0e0e0;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 0 20px;
      }

      button {
        background: #555;
        border-radius: 100%;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background: #a4a4a4;
        }

        .btnImg {
          width: 30px;
          padding: 5px;
        }
      }
    }
  }
}
