.rootLayout {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  height: 100vh;
  padding: 14px 64px;

  @media screen and (max-width: 400px) {
    padding: 10px;
  }
  @media screen and (min-width: 400px) and (max-width: 500px) {
    padding: 14px 15px;
  }

  @media screen and (min-width: 500px) and (max-width: 768px) {
    padding: 14px 22px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding: 14px 30px;
  }
}

main {
  flex: 1;
  /* background: #09a1ff; */
  overflow: hidden;
}
