header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-weight: 500;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
