.chatPage {
  height: 100%;

  .wrapper {
    /* width: ; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px 0;
    position: relative;

    .chat {
      display: flex;
      width: 60%;

      flex-direction: column;
      gap: 20px;
      overflow: auto;
      justify-self: flex-end;

      &::-webkit-scrollbar {
        display: none;
      }

      .message {
        padding: 20px;
        text-align: justify;

        p,
        li {
          margin: 10px 0;
        }

        &.user {
          background-color: #2c2937;
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-end;
        }
      }
    }

    .inputForm {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      background: #12162e;
      border-radius: 25px;

      .loading {
        /* background: #000; */
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 10px;
      }

      form {
        width: 100%;
        border: 1px solid #aaa;
        border-radius: 25px;
        display: flex;
        align-items: center;
        padding: 15px 10px;
        color: #e0e0e0;
        background: #52525228;

        img {
          width: 30px;
          padding: 5px;
        }

        input {
          background: transparent;
          color: #e0e0e0;
          border: none;
          outline: none;
          font-size: 18px;
          padding: 0 20px;
          flex: 1;

          &:disabled {
            cursor: not-allowed;
          }
        }

        button,
        label {
          background: #828282;
          border-radius: 100%;
          border: none;
          width: 30px;
          height: 30px;
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
.paddingBottom {
  padding-bottom: 100px;
}
